DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=put_name_here
DB_USER=put_user_here
DB_PASSWORD=put_password_here
DB_HOST=put_host_name_here
DB_PORT=put_port_here

AZURE_ACCOUNT_NAME=put_name_here
AZURE_ACCOUNT_KEY=put_key_here