{% extends 'base.html' %}

{%block content%}
{% load humanize %}
    <h2 class="mb-4">Artwork Catalogue</h2>
    <div class="row">
        <form method="get" class="d-flex flex-wrap gap-2 mb-4">
            <input type="text" class="search" name="search" placeholder=" Search titles" value="{{ search|default:'' }}">

           <select name="sold" class="form-select w-auto">
                <option value="">--All Artwork--</option>

                <option value="available"
                    {% if selected_sold == "available" %}selected{% endif %}>
                    Available
                </option>

                <option value="sold"
                    {% if selected_sold == "sold" %}selected{% endif %}>
                    Sold
                </option>
            </select>

            <select name="medium" class="form-select w-auto">
                <option value="">--Medium--</option>
                {% for value, label in medium_choices %}
                    <option value="{{ value }}" {% if selected_medium == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>

            <select name="style" class="form-select w-auto">
                <option value="">--Style--</option>
                {% for value, label in style_choices %}
                    <option value="{{ value }}" {% if selected_style == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>

            <select name="order_by" class="form-select w-auto">
                <option value="">Order by</option>
                <option value="starting_bid" {% if order_by == "starting_bid" %}selected{% endif %}>Price low to high</option>
                <option value="-starting_bid" {% if order_by == "-starting_bid" %}selected{% endif %}>Price high to low</option>
                <option value="title" {% if order_by == "title" %}selected{% endif %}>Title A-Z</option>
                <option value="-title" {% if order_by == "-title" %}selected{% endif %}>Title Z-A</option>
            </select>

            <button type="submit" class="btn btn-dark">Apply Filters</button>

            <a href="{% url 'artworks:index' %}" class="btn btn-outline-secondary">Clear Filters</a>
        </form>

        {% for artwork in artworks %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% with first_image=artwork.images.first %}
                        {% if first_image and first_image.image and first_image.image.name %}
                            <img src="{{ first_image.image.url }}"
                                 class="card-img-top artwork-thumbnail"
                                 alt="{{ artwork.title }}">
                        {% else %}
                            <div class="bg-light border rounded d-flex align-items-center justify-content-center mb-3"
                                 style="height: 420px;">
                                <span class="text-muted">Artwork Image Placeholder</span>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="card-body">
                         {% if artwork.sold %}
                            <span class="badge bg-danger">Sold</span>
                         {% else %}
                            <span class ="badge bg-success">Available</span>
                        {% endif %}
                        <h3 class="card-title">{{artwork.title}}</h3>
                        <h5>by {{ artwork.artist_name }}</h5>
                        {% if artwork.highest_bid %}
                            <p>Highest bid: {{ artwork.highest_bid | floatformat:0 | intcomma }} ISK</p>
                        {% else %}
                            <p>Starting bid: {{ artwork.starting_bid | floatformat:0 | intcomma }} ISK</p>
                        {% endif %}
                        <p class="card-text">Medium: {{ artwork.medium }}</p>
                        <p class="card-text">Dimensions: {{ artwork.dimensions }}</p>

                        <a class="btn btn-secondary btn-sm"
                           href="{% url 'artworks:artwork_detail' artwork.id %}">
                            View details
                        </a>

                        {% if request.user.is_authenticated %}
                            <form method="post"
                                  action="{% url 'artworks:toggle_favorite' artwork.id %}"
                                  style="display: inline;">
                                {% csrf_token %}
                                {% if artwork.id in favorited_ids %}
                                    <button type="submit" class="btn btn-secondary btn-sm">♥</button>
                                {% else %}
                                    <button type="submit" class="btn btn-secondary btn-sm">♡</button>
                                {% endif %}
                            </form>
                        {% else %}
                            <a class="btn btn-outline-danger btn-sm ms-2"
                               href="{% url 'login' %}?next={{ request.path }}">
                                ♡
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% empty %}
            <div class="text-center mt-4">
                <p>No artworks available at the moment.</p>
            </div>
    {% endfor %}
    </div>
{% endblock %}

